snippet eq "Equation" b
\begin{equation}
	$1
	\label{$2}
\end{equation}
endsnippet
snippet eq* "Equation" b
\begin{equation*}
	$1
\end{equation*}
endsnippet
snippet al "Align" b
\begin{align}
	$1
	\label{$2}
\end{align}
endsnippet
snippet al* "Align" b
\begin{align*}
	$1
\end{align*}
endsnippet
snippet partial "Partial Derivative"
\frac{\partial $1}{\partial $2}
endsnippet
