snippet \l "lambda" ii
λ
endsnippet
snippet \L "Lambda" i
Λ
endsnippet
snippet \e "epsilon" i
ε
endsnippet
snippet \a "alpha" i
α
endsnippet
snippet \b "beta" i
β
endsnippet
snippet \d "delta" i
δ
endsnippet
snippet \D "Delta" i
Δ
endsnippet
